*{
	--paperBG: #1c1b29;
	--textColor: rgb(20, 20, 20);
}

.headings{
	margin: 0;
	padding: 0 2rem 4rem 2rem;
	max-width: 1200px;
	display: grid;
	place-items: center;
	margin: auto;
}
.headings h1{
	font-size: 2rem;
}

.container {
	padding: 0 2rem 4rem 2rem;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 0fr));
	grid-row-gap: 3rem;
	justify-content: space-around;
	place-items: center;
}

.paper {
	min-width: 10rem;
	max-width: 80vw;
	min-height: 10vh;
	border-radius: 30px;
	transition: all 0.6s ease;
	text-align: center;
	background-color: var(--paperBG);
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.3) 0px 32px 16px;
}

.paper:hover {
	transform: translateY(-10px);
	scale: 1.06;
}

.paper img {
	filter: blur(2px);
	-webkit-filter: blur(3px);
	max-width: 100%;
	max-height: 100%;
	transition: 0.6s ease;
	clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);	
}

.paper:hover img{
	filter: blur(0px);
	-webkit-filter: blur(0px);
	clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

.paper:hover .poster {
	border-radius: 30px 30px 0 0;
}

.paper h1 {
	font-size: 2rem;
	color: #ffffff;
	font-family: "Playfair Display", serif;
}

.paper hr {
	width: 40%;
	border: 0;
	border-bottom: 1px solid #a0a0a0;
}

.paper p {
	margin: 1rem 2rem;
	text-align: center;
	color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.readBtn,
a.readBtn {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	line-height: 20px;
	border-radius: 4px;
	padding: 0.8rem 1.6rem;
	background: #ff90e8;
	color: #000;
	font-size: 0.8rem;
}

.space {
	height: 2rem;
}